/* MAIN COLOR */
.main-color-bg {
    background: #e0e0e7;
}
.main-color {
    color: #e0e0e7;
}

/* SECONDARY COLOR */
.secondray-color-bg {
    background: #f0f0f5;
}
.secondary-color {
    color: #f0f0f5;
}

/* ACCENT COLOR */
.accent-color-bg {
    background: #ff4455;
}
.accent-color {
    color: #ff4455;
}

/* TEXT COLORS */
.text-color-1 {
    color: #222222;
}
.text-color-1-bg {
    background: #222222;
}
.text-color-2 {
    color: #444444;
}
.text-color-2-bg {
    background: #444444;
}
.text-color-3 {
    color: #666666;
}
.text-color-3-bg {
    background: #666666;
}