@import url("colors.css");
@import url("fonts.css");

/* RESET */
* {
    margin: 0;
    padding: 0;
}

/* BODY 
    ------ FONTS ------
*/
body {
    width: 100vw;
    font-family: 'Slabo', sans-serif;
    position: relative;
    overflow-x: hidden; 
}

/* HEADINGS / TEXTS / LINKS / Typografie */
p.title-text {
    font-weight: bold;
    font-size: 2.6em;
    color: #222222;
    margin: 1em 0 0 0;
}
p.untertitel {
    font-size: 2.2em;
    color: #444444;
    margin: 0 0 1.8em 0;
}
h1 {
    font-size: 2.2em;
    color: #222222;
    margin: 1em 0 1.8em 0;
}
h2 {
    font-size: 1.8em;
    color: #222222;
    margin: 0.8em 0 1.6em 0;
}
h3 {
    font-size: 1.6em;
    color: #222222;
    margin: 0 0 1.2em 0;
}
h4 {
    font-size: 1.4em;
    color: #444444;
    margin: 0 0 1em 0;
}
h5 {
    font-size: 1.2em;
    color: #444444;
    margin: 0 0 1em 0;
}
h6 {
    font-size: 1em;
    color: #444444;
    margin: 0 0 1em 0;
}
p {
    font-size: 1em;
    color: #666666;
    margin: 0 0 1em 0;
}
.hervorhebung {
    font-weight: bold;
    color: #222222;
}
.intensive-hervorhebung {
    font-weight: bold;
    color: #ff4455;
}
p.zitat {
    font-style: italic;
}
a {
    font-size: 1em;
    color: #ff4455;
    margin: 0 0 1em 0;
}

/* HEADER */
#header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;

    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);
}
#header .company-logo {
    height: 80px;
    width: auto;
    margin: 10px 25px 10px 10px;
}
#header h1 {
    margin: 0;
}
/* END HEADER */

/* NAVIGATION */
#navi {
    position: fixed;
    z-index: 90;
    top: 100px;
    left: 0;
    width: 10vw;
    min-height: 100vh;
    height: auto;
    padding: 1.2em 0 0 2vw;

    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);
}
#navi ul {
    list-style-type: decimal;
}
/* END NAVIGATION */

/* MAIN CONTENT */
#content {
    position: absolute;
    z-index: 60;
    top: 100px;
    right: 0;
    width: 88vw;
    /* background: #ff4455; */

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
#content section {
    background: #fff;
    padding: 2em;
    border-radius: 1em;

    width: 50vw;
    margin: 2em 0;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;

    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);
}
#content .logo-section {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
#content .logo-section .seperator {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#content .logo-section .seperator:first-child {
    padding-bottom: 1.2em;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.halfling {
    width: 40%;
    padding: 5%;
}
.halfling:first-child {
    border-right: 1px solid rgba(0,0,0,0.2);
}
/* TYPOGRAFIE BLOCK */
#content section .section-info {
    width: 16vw;
    margin-right: 2vw;
    margin-top: 4em;
}
#content section .section-content {
    position: relative;
    width: 30vw;
    padding-left: 2vw;
    border-left: 1px solid rgba(0,0,0,0.2);
}
.view:hover {
    cursor: pointer;
    background: rgba(255, 255, 0, 0.2);
}
.mini-color-display {
    display: inline-block;
    height: 1em;
    width: 1em;
}
/* COLOR BLOCK */
#content .colors {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.color-card {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(0,0,0,0.2);

    margin-bottom: 2em;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.color-card .color-display {
    width: 120px;
    height: 120px;

    margin-right: 5%;

    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.color-card .color-display p {
    margin: 0;
    padding: 0 0 0.5em 0.5em;
    color: #fff;
    font-weight: bold;
}
.color-card .cmyk,
.color-card .rgb,
.color-card .hex {
    margin: 0.5em 5% 0 5%;
}
.color-card .cmyk p,
.color-card .rgb p,
.color-card .hex p {
    margin: 0;
}
/* ICON BLOCK */
#content .icons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
#content .icons article {
    width: 10vw;
    height: 13vw;
    margin: 0 1em 2em 1em;

    border: 1px solid rgba(0,0,0,0.2);

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
#content .icons article img {
    width: 9vw;
    height: 9vw;
    margin: 1vw 1vw 2em 1vw;
}
/* IMAGES IN CONTENT SECTIONS */
img.section-image {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 1em;
}
.click-box {
    position: absolute;
}
/* CLICK-BOXEN BRIEF */
.logo-bereich-brief {
    width: 200px;
    height: 40px;

    top: 30px;
    left: 120px;
}
.anschrift-brief {
    width: 220px;
    height: 75px;

    top: 173px;
    left: 107px;
}
/* END MAIN CONTENT */